.container {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .title {
    font-weight: 600;
    color: #fff;
    margin: 0;
  }

  .form-control {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
      font-size: 18px;
      font-family: 600;
      margin-bottom: 5px;
    }
    
    input {
      min-width: 100%;
      font-size: 16px;
      background-color: transparent;
      border: 1px solid var(--white);
      border-radius: 50px;
      padding: 10px 20px;
    }
  }

  .beEnd {
    font-weight: 600;
    font-size: 18px;
  }

  .input-ava {
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }

  .login {
    background-color: var(--btn-orange);
    color: var(--white);
    border-radius: 50px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 40px;
  }
  
}
.continue {
  background: none;
  color: var(--white);
  font-size: 16px;
}

.moreOption {
  font-size: 16px;

  span {
    color: var(--text-orange);
  }
}

.goBack {
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 32px;
  cursor: pointer;
}