.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-light-blue);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px 30px;


    button {
        background-color: transparent;
        font-size: 20px;
        font-weight: bold;
        
        span {
            margin-left: 10px;
        }
    }
}