.container {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;

    .top-content {
        flex-grow: 1;
        height: 100%;
    }

    .bottom-content {
        flex-grow: 1;
        height: 100%;
        margin-top: 10px;
    }
}