.mg-r10 {
    margin-right: 10px;
}

.cl-w {
    color: white;
}

#main-content {
    margin: 8px 18px;
}


.avt-host {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.top-form {
    margin-top: 8px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10px;
}

.review {
    padding: 12px 16px;
}

.review-question {
    margin: 0;
}

.review-star {
    margin-top: 8px;
}

.review-star i {
    font-size: 22px;
    color: rgb(222, 222, 37);
}

.share {
    padding: 0 12px;
}

.share textarea {
    border: 1px solid rgb(141, 141, 141);
    width: 100%;
    border-radius: 8px;
}

.moment {
    padding: 0 12px;
    padding-bottom: 12px;
}


.check {
    display: flex;
    padding-top: 12px;
}

.check p {
    margin-left: 6px;
}

.submit {
    text-align: center;
}

.btn-submit {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #FF751A;
}

/* body {

    background-color: #2590EB;
    height: 100%;
} */

.wrapper {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.file-upload {

    height: 200px;
    width: 200px;
    border-radius: 100px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 4px solid #FFFFFF;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #FFFFFF;
    font-size: 100px;
}

.choose-image {

    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;

}

.file-upload:hover {

    background-position: 0 -100%;

    color: #2590EB;

}


.right-container {
    padding: 20px;
}

.right-center {
    padding: 10px 0;
    text-align: center;
}

.right-center h4 {
    font-size: 24px;
    font-weight: 600;
    color: #3da9fc;
}

.feedback-blog {
    margin-top: 10px;
    background-color: var(--nav-light-blue);
    border-radius: 10px;
}

.user-post {
    display: flex;
    position: relative;
    color: var(--text-light-gray);
}

.icon-more {
    position: absolute;
    padding: 4px;
    margin: 8px 16px 0 0;
    top: 0;
    font-size: 24px;
    right: 0;
}

.user-avt {
    margin: 12px 8px 0 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.user-infor {
    padding: 12px 10px 0 4px;
}

.username {
    margin: 0;
}

.date-post {
    margin: 0;
}

.post-container {
    padding: 0px 20px 0px 20px;
}

.post-star {
    color: rgb(231, 231, 9);
}

.post-content {
    padding: 12px 0 8px 0;
    color: #333;
}

.post-img {
    padding: 10px 0 0 0;
    text-align: center;
}

.post-img img {
    width: 90%;
}

.line {
    margin-top: 10px;
    border: 1px solid #333;
}

.post-reaction {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
}

.sum-comment {
    font-size: 20px;
}

.btn-reaction {
    background-color: transparent;
}


.icon-reaction button svg {
    width: 26px;
}


.user-comment {
    padding: 0 16px 10px 16px;
    display: flex;
    justify-content: space-between;
}

.user-avt-comment {
    width: 32px;
    border-radius: 50%;
}

.user-comment input {
    padding: 0 20px;
    width: calc(100% - 48px);
    border-radius: 20px;
}

