.landingss-container {
    width: 100%;
    height: 100%;
    position: relative;

    .landingss-title {
        width: 700px;
        height: 145px;
        position: absolute;
        top: calc(50% - 77px);
        left: calc(50% - 350px);
        font-size: 60px;
        font-weight: bold;
        color: white;
        opacity: 0.8;
        span {
            color: var(--text-orange);
            margin: 0 10px;
        }
    }

    .slick-slider {
        height: 100% !important;

        .slick-arrow {
            display: none !important;
        }

        .slick-list {
            height: 100% !important;

            .slick-track {
                height: 100%;

                div:first-child {
                    height: 100% !important;
                }
            }
        }
    }

    .landingss-img {
        width: 100%;
        height: 690px;
        object-fit: cover;
    }
}