.title {
  font-weight: 600;
  color: #fff;
  margin: 0;
  text-align: center;
}

.form-control {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    font-size: 18px;
    font-family: 600;
    margin-bottom: 5px;
  }

  input {
    min-width: 100%;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 50px;
    padding: 10px 20px;
  }
}

.err {
  margin: 0 !important;
  font-size: 16px;
  font-weight: 400;
  color: red;
  text-align: left !important;
}

.instructions {
  margin-top: 10px;
  margin-right: 20px;
  color: red;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.valid {
  color: limegreen;
  margin-left: 10px;
}

.invalid {
  font-size: 16px;
  color: red;
  margin-left: 10px;
}

.hide {
  display: none;
}

.border-err {
  border-color: red !important;
  &:focus {
    outline: none;
    border-color: red;
  }
}

.border-success {
  border-color: limegreen !important;
  &:focus {
    outline: none;
    border-color: limegreen;
  }
}

.continue {
  background: none;
  color: var(--white);
  font-size: 16px;
}