.left {
    .name {
        font-weight: bold;
    }


    h2, span, i {
        color: var(--background-dark-blue);
    }
    .address {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        h2 {
            margin: 0;
        }

        i {
            font-size: 24px;
            margin: 0 10px;
        }
    }
    
    .avt {
        width: 40px;
        border-radius: 50%;
    }

    .star {

        i {
            color: yellow;
            font-size: 16px;
        }

        span {
            margin-left: 5px;
        }

    }
}