.feedback-blog {
    margin-top: 10px;
    background-color: var(--background-light-blue);
    border-radius: 10px;
}

.user-post {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-light-gray);

    .user-avt {
        margin: 12px 8px 0 20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .user-infor {
        padding: 12px 10px 0 4px;

        h4, p {
            text-align: left;
            color: var(--background-dark-blue);
        }
        .username {
            margin: 0;
        }

        .date-post {
            margin: 0;
        }
    }


}

.write-comment {
    border-radius: 20px;
    background-color: var(--white);
    padding: 0 15px;
    color: var(--text-light-gray);
    height: 35px;
    width: 800px;
}

.icon-more {
    position: absolute;
    padding: 4px;
    margin: 8px 16px 0 0;
    top: 0;
    font-size: 24px;
    right: 0;
}

.post-container {
    padding: 0px 20px 0px 20px;

    .post-star {
        color: rgb(231, 231, 9);
    }

    .post-content {
        padding: 12px 0 8px 0;
        color: #333;

        .post-img {
            padding: 10px 0 0 0;
            text-align: center;

            img {
                width: 568px;
                border-radius: 10px;
            }
        }

        .line {
            margin-top: 10px;
            border: 1px solid #333;
        }

        .post-reaction {
            display: flex;
            padding: 10px 0;
            justify-content: space-between;

            .btn-reaction {
                background-color: transparent;
            }

            .icon-reaction button svg {
                width: 26px;
            }

            .sum-comment {
                font-size: 20px;
            }
        }

        .user-comment {
            padding: 0 16px 10px 16px;
            display: flex;
            justify-content: space-between;



            .user-avt-comment {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }

            .user-comment input {
                padding: 0 20px;
                width: calc(100% - 48px);
                border-radius: 20px;
            }
        }
    }

}

.mg-r10 {
    margin-right: 10px;
}