.avt-and-name {
    margin-bottom: 10px;
    p {
        font-weight: bold;
        margin-left: 10px;
    }
}

.user-ava {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-area {
    display: flex;
    align-items: center;

    .comment {
        background-color: white;
        padding: 10px 20px;
        border-radius: 50px;
        width: 90%;
        p{
            margin: 0;
        }

    }

    button {
        background-color: transparent;

        i {
            margin-left: 20px;
            font-size: 24px;
        }

        &:hover i {
            color: var(--text-orange);
        }
    }
}

.btn-edit-del {
    width: 200px;
    height: 100px;
    background-color: rgb(235, 233, 233);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 98%;
    z-index: 999;
    border-radius: 4px;

    button:first-child {
        border-bottom: 1px rgba($color: #094067, $alpha: 0.3) solid;
    }

    button {
        width: 100%;
        height: 100%;
        font-weight: 600;
        font-size: 16px;
        &:hover {
            color: var(--text-orange);
        }
    }

    &::before {
        content: '';
        width: 50px;
        height: 50px;
        position: absolute;
        top: 25%;
        left: -2%;
        transform: rotate(45deg);
        background-color: rgb(235, 233, 233);
        z-index: -1;
    }
}

.btn-edit {
    position: absolute;
    left: 80%;

    i {
        font-size: 20px !important;
    }
}